In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/artemiy/rink_master/rink_master_data/rink_master_cleaned.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47816 entries, 0 to 47815
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameID               47816 non-null  int64
 1   gameDate             47816 non-null  object
 2   Team                 47816 non-null  int64
 3   Opponent             47816 non-null  int64
 4   homeRoad             47816 non-null  int64
 5   gamesPlayed          47816 non-null  int64
 6   Win                  47816 non-null  int64
 7   Loss                 47816 non-null  int64
 8   Tie                  47816 non-null  float64
 9   OTLoss               47816 non-null  int64
 10  points               47816 non-null  int64
 11  pointPct             47816 non-null  float64
 12  regulationWins       47816 non-null  int64
 13  regulationAndOtWins  47816 non-null  int64
 14  shootoutWins         47816 non-null  int64
 15  goalsFor             47816 non-null  int64
 16  goalsAgainst         47816 non-null  int64
 17  goalsForPerGame      47816 non-null  float64
 18  goalsAgainstPerGame  47816 non-null  float64
 19  powerPlayPct         47816 non-null  float64
 20  penaltyKillPct       47816 non-null  float64
 21  powerPlayNetPct      47816 non-null  float64
 22  penaltyKillNetPct    47816 non-null  float64
 23  shotsForPerGame      47816 non-null  float64
 24  shotsAgainstPerGame  47816 non-null  float64
 25  faceoffWinPct        47816 non-null  float64
dtypes: float64(11), int64(14), object(1)
memory usage: 9.5+ MB

In [6]:
duplicates = df["gameID"].duplicated()

In [8]:
print(duplicates.sum())

23908

In [9]:
code_to_abbrev = {
    1: "NJD",
    2: "NYI",
    3: "NYR",
    4: "PHI",
    5: "PIT",
    6: "BOS",
    7: "BUF",
    8: "MTL",
    9: "OTT",
    10: "TOR",
    11: "CAR",
    12: "FLA",
    13: "TBL",
    14: "WSH",
    15: "CHI",
    16: "DET",
    17: "NSH",
    18: "STL",
    19: "CGY",
    20: "COL",
    21: "EDM",
    22: "VAN",
    23: "ANA",
    24: "DAL",
    25: "LAK",
    26: "SJS",
    27: "CBJ",
    28: "MIN",
    29: "WPG",
    30: "ARI",
    31: "VGK",
    32: "SEA",
}

abbrev_to_fullname = {
    "NJD": "New Jersey Devils",
    "MIN": "Minnesota Wild",
    "DAL": "Dallas Stars",
    "BOS": "Boston Bruins",
    "CHI": "Chicago Blackhawks",
    "ANA": "Anaheim Ducks",
    "SJS": "San Jose Sharks",
    "LAK": "Los Angeles Kings",
    "VAN": "Vancouver Canucks",
    "EDM": "Edmonton Oilers",
    "CGY": "Calgary Flames",
    "NSH": "Nashville Predators",
    "WSH": "Washington Capitals",
    "CBJ": "Columbus Blue Jackets",
    "WPG": "Winnipeg Jets",  # 'WPG' для 'Atlanta Thrashers' и 'Winnipeg Jets'
    "OTT": "Ottawa Senators",
    "MTL": "Montréal Canadiens",
    "BUF": "Buffalo Sabres",
    "PHI": "Philadelphia Flyers",
    "NYI": "New York Islanders",
    "FLA": "Florida Panthers",
    "CAR": "Carolina Hurricanes",
    "DET": "Detroit Red Wings",
    "NYR": "New York Rangers",
    "PIT": "Pittsburgh Penguins",
    "TBL": "Tampa Bay Lightning",
    "STL": "St. Louis Blues",
    "COL": "Colorado Avalanche",
    "ARI": "Arizona Coyotes",  # 'ARI' для 'Phoenix Coyotes'
    "TOR": "Toronto Maple Leafs",
    "VGK": "Vegas Golden Knights",
    "SEA": "Seattle Kraken",
}

In [10]:
code_to_fullname = {
    code: abbrev_to_fullname[abbrev] for code, abbrev in code_to_abbrev.items()
}

In [12]:
df["Team"] = df["Team"].map(code_to_abbrev)
df["Opponent"] = df["Opponent"].map(code_to_abbrev)

In [15]:
df.head()

,gameID,gameDate,Team,Opponent,homeRoad,gamesPlayed,Win,Loss,Tie,OTLoss,...,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,powerPlayPct,penaltyKillPct,powerPlayNetPct,penaltyKillNetPct,shotsForPerGame,shotsAgainstPerGame,faceoffWinPct
0,2003020001,2003-10-08,New Jersey Devils,Boston Bruins,1,1,0,0,1.0,0,...,3,3.0,3.0,0.75,0.75,0.75,0.75,35.0,31.0,0.43
1,2003020003,2003-10-08,Minnesota Wild,Chicago Blackhawks,1,1,0,1,0.0,0,...,1,0.0,1.0,0.00,1.00,0.00,1.00,33.0,22.0,0.57
2,2003020002,2003-10-08,Dallas Stars,Anaheim Ducks,0,1,1,0,0.0,0,...,1,4.0,1.0,0.33,0.75,0.33,0.75,22.0,21.0,0.53
3,2003020001,2003-10-08,Boston Bruins,New Jersey Devils,0,1,0,0,1.0,0,...,3,3.0,3.0,0.25,0.25,0.25,0.25,31.0,35.0,0.57
4,2003020003,2003-10-08,Chicago Blackhawks,Minnesota Wild,0,1,1,0,0.0,0,...,0,1.0,0.0,0.00,1.00,0.00,1.00,22.0,33.0,0.43

In [14]:
df["Team"] = df["Team"].map(abbrev_to_fullname)
df["Opponent"] = df["Opponent"].map(abbrev_to_fullname)

In [17]:
df_unique = df.drop_duplicates(subset=["gameID"])

In [18]:
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23908 entries, 0 to 47812
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameID               23908 non-null  int64
 1   gameDate             23908 non-null  object
 2   Team                 23908 non-null  object
 3   Opponent             23908 non-null  object
 4   homeRoad             23908 non-null  int64
 5   gamesPlayed          23908 non-null  int64
 6   Win                  23908 non-null  int64
 7   Loss                 23908 non-null  int64
 8   Tie                  23908 non-null  float64
 9   OTLoss               23908 non-null  int64
 10  points               23908 non-null  int64
 11  pointPct             23908 non-null  float64
 12  regulationWins       23908 non-null  int64
 13  regulationAndOtWins  23908 non-null  int64
 14  shootoutWins         23908 non-null  int64
 15  goalsFor             23908 non-null  int64
 16  goalsAgainst         23908 non-null  int64
 17  goalsForPerGame      23908 non-null  float64
 18  goalsAgainstPerGame  23908 non-null  float64
 19  powerPlayPct         23908 non-null  float64
 20  penaltyKillPct       23908 non-null  float64
 21  powerPlayNetPct      23908 non-null  float64
 22  penaltyKillNetPct    23908 non-null  float64
 23  shotsForPerGame      23908 non-null  float64
 24  shotsAgainstPerGame  23908 non-null  float64
 25  faceoffWinPct        23908 non-null  float64
dtypes: float64(11), int64(12), object(3)
memory usage: 4.9+ MB

In [19]:
df_unique.to_csv('rink_master_split_wteams.csv', index=False)