In [1]:
import pandas as pd
import glob

In [15]:
pd.set_option("display.max_columns", None)

In [4]:
file_paths = glob.glob(
    "/home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/*.csv"
)
df_list = []

In [5]:
for file in file_paths:
    df = pd.read_csv(file)
    print(f"Checking file: {file}")
    print(df["gameDate"].head())  # Печать первых значений дат для проверки формата
    df_list.append(df)

Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games0910.csv
0    2009-10-01
1    2009-10-01
2    2009-10-01
3    2009-10-01
4    2009-10-01
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1314.csv
0    2013-10-01
1    2013-10-01
2    2013-10-01
3    2013-10-01
4    2013-10-01
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games2122.csv
0    2021-10-12
1    2021-10-12
2    2021-10-12
3    2021-10-12
4    2021-10-13
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1819.csv
0    2018-10-03
1    2018-10-03
2    2018-10-03
3    2018-10-03
4    2018-10-03
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games0506.csv
0    2005-10-05
1    2005-10-05
2    2005-10-05
3    2005-10-05
4    2005-10-05
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1920.csv
0    2019-10-02
1    2019-10-02
2    2019-10-02
3    2019-10-02
4    2019-10-02
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games2223.csv
0    2022-10-07
1    2022-10-07
2    2022-10-08
3    2022-10-08
4    2022-10-11
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1011.csv
0    2010-10-07
1    2010-10-07
2    2010-10-07
3    2010-10-07
4    2010-10-07
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1718.csv
0    2017-10-04
1    2017-10-04
2    2017-10-04
3    2017-10-04
4    2017-10-04
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1617.csv
0    2016-10-12
1    2016-10-12
2    2016-10-12
3    2016-10-12
4    2016-10-12
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games0708.csv
0    2007-09-29
1    2007-09-29
2    2007-09-30
3    2007-09-30
4    2007-10-03
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1516.csv
0    2015-10-07
1    2015-10-07
2    2015-10-07
3    2015-10-07
4    2015-10-07
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1415.csv
0    2014-10-08
1    2014-10-08
2    2014-10-08
3    2014-10-08
4    2014-10-08
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games2324.csv
0    2023-10-10
1    2023-10-10
2    2023-10-10
3    2023-10-10
4    2023-10-10
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games0607.csv
0    2006-10-04
1    2006-10-04
2    2006-10-04
3    2006-10-04
4    2006-10-04
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games2021.csv
0    2021-01-13
1    2021-01-13
2    2021-01-13
3    2021-01-13
4    2021-01-13
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games0809.csv
0    2008-10-04
1    2008-10-04
2    2008-10-04
3    2008-10-04
4    2008-10-05
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1112.csv
0    2011-10-06
1    2011-10-06
2    2011-10-06
3    2011-10-06
4    2011-10-06
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games0304.csv
0    2003-10-08
1    2003-10-08
2    2003-10-08
3    2003-10-08
4    2003-10-08
Name: gameDate, dtype: object
Checking file: /home/artemiy/rink_master/rink_master_data/nhl_seasons_03-24/nhl_all_games1213.csv
0    2013-01-19
1    2013-01-19
2    2013-01-19
3    2013-01-19
4    2013-01-19
Name: gameDate, dtype: object

In [6]:
combined_df = pd.concat(df_list, ignore_index=True)

In [7]:
combined_df["gameDate"] = pd.to_datetime(combined_df["gameDate"], errors="coerce")

In [8]:
num_invalid_dates = combined_df["gameDate"].isna().sum()
print(f"Number of invalid dates after combining: {num_invalid_dates}")

Number of invalid dates after combining: 0

In [9]:
sorted_df = combined_df.sort_values(by="gameDate")

In [10]:
sorted_df.reset_index(drop=True, inplace=True)

In [11]:
sorted_df.tail()

,gameId,gameDate,teamId,teamFullName,homeRoad,opponentTeamAbbrev,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,shotsForPerGame,shotsAgainstPerGame,penaltyKillPct,penaltyKillNetPct,powerPlayPct,powerPlayNetPct,faceoffWinPct,pointPct,wins,losses,ties,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed
47811,2023021309,2024-04-18,28,San Jose Sharks,R,CGY,1,5,1.0,5.0,17.0,37.0,1.000000,1.000000,0.500000,0.500000,0.581395,0.0,0,1,NaN,0,0,0,0,0,1
47812,2023021307,2024-04-18,30,Minnesota Wild,H,SEA,3,4,3.0,4.0,24.0,27.0,0.666667,0.666666,0.500000,0.000000,0.411764,0.0,0,1,NaN,0,0,0,0,0,1
47813,2023021308,2024-04-18,52,Winnipeg Jets,H,VAN,4,2,4.0,2.0,26.0,20.0,0.666667,0.666666,0.000000,0.000000,0.500000,1.0,1,0,NaN,1,0,1,0,2,1
47814,2023021311,2024-04-18,54,Vegas Golden Knights,H,ANA,1,4,1.0,4.0,33.0,23.0,0.000000,0.000000,0.333333,0.000000,0.622222,0.0,0,1,NaN,0,0,0,0,0,1
47815,2023021307,2024-04-18,55,Seattle Kraken,R,MIN,4,3,4.0,3.0,27.0,24.0,0.500000,1.000000,0.333333,0.333333,0.588235,1.0,1,0,NaN,1,0,1,0,2,1

In [12]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47816 entries, 0 to 47815
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameId               47816 non-null  int64
 1   gameDate             47816 non-null  datetime64[ns]
 2   teamId               47816 non-null  int64
 3   teamFullName         47816 non-null  object
 4   homeRoad             47816 non-null  object
 5   opponentTeamAbbrev   47816 non-null  object
 6   goalsFor             47816 non-null  int64
 7   goalsAgainst         47816 non-null  int64
 8   goalsForPerGame      47816 non-null  float64
 9   goalsAgainstPerGame  47816 non-null  float64
 10  shotsForPerGame      47816 non-null  float64
 11  shotsAgainstPerGame  47816 non-null  float64
 12  penaltyKillPct       47816 non-null  float64
 13  penaltyKillNetPct    47816 non-null  float64
 14  powerPlayPct         47816 non-null  float64
 15  powerPlayNetPct      47816 non-null  float64
 16  faceoffWinPct        47816 non-null  float64
 17  pointPct             47816 non-null  float64
 18  wins                 47816 non-null  int64
 19  losses               47816 non-null  int64
 20  ties                 2460 non-null   float64
 21  winsInRegulation     47816 non-null  int64
 22  winsInShootout       47816 non-null  int64
 23  regulationAndOtWins  47816 non-null  int64
 24  otLosses             47816 non-null  int64
 25  points               47816 non-null  int64
 26  gamesPlayed          47816 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(12), object(3)
memory usage: 9.8+ MB

In [13]:
sorted_df["ties"] = sorted_df["ties"].fillna('0')

In [14]:
sorted_df['teamFullName'].unique()

array(['New Jersey Devils', 'Minnesota Wild', 'Dallas Stars',
       'Boston Bruins', 'Chicago Blackhawks', 'Anaheim Ducks',
       'San Jose Sharks', 'Los Angeles Kings', 'Vancouver Canucks',
       'Edmonton Oilers', 'Calgary Flames', 'Nashville Predators',
       'Washington Capitals', 'Columbus Blue Jackets',
       'Atlanta Thrashers', 'Ottawa Senators', 'Montréal Canadiens',
       'Buffalo Sabres', 'Philadelphia Flyers', 'New York Islanders',
       'Florida Panthers', 'Carolina Hurricanes', 'Detroit Red Wings',
       'New York Rangers', 'Pittsburgh Penguins', 'Tampa Bay Lightning',
       'St. Louis Blues', 'Colorado Avalanche', 'Phoenix Coyotes',
       'Toronto Maple Leafs', 'Winnipeg Jets', 'Arizona Coyotes',
       'Vegas Golden Knights', 'Seattle Kraken'], dtype=object)

In [15]:
sorted_df.describe()

,gameId,gameDate,teamId,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,shotsForPerGame,shotsAgainstPerGame,penaltyKillPct,penaltyKillNetPct,powerPlayPct,powerPlayNetPct,faceoffWinPct,pointPct,wins,losses,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed
count,4.781600e+04,47816,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.000000,47816.0
mean,2.013470e+09,2014-06-25 16:51:41.890580736,17.415008,2.840284,2.840284,2.840284,2.840284,30.248431,30.248431,0.799768,0.824611,0.185383,0.160541,0.499998,0.556163,0.496445,0.384118,0.384056,0.050381,0.446064,0.112326,1.112326,1.0
min,2.003020e+09,2003-10-08 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9.000000,0.000000,0.000000,0.000000,-1.000000,0.170212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,2.008021e+09,2009-03-19 00:00:00,8.000000,2.000000,2.000000,2.000000,2.000000,25.000000,25.000000,0.666667,0.666666,0.000000,0.000000,0.450980,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,2.014020e+09,2014-11-02 00:00:00,16.000000,3.000000,3.000000,3.000000,3.000000,30.000000,30.000000,0.888889,1.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0
75%,2.018021e+09,2019-03-26 00:00:00,24.000000,4.000000,4.000000,4.000000,4.000000,35.000000,35.000000,1.000000,1.000000,0.333333,0.333333,0.549019,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.000000,1.0
max,2.023021e+09,2024-04-18 00:00:00,55.000000,11.000000,11.000000,11.000000,11.000000,67.000000,67.000000,1.000000,2.000000,1.000000,1.000000,0.829787,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.0
std,5.930477e+06,NaN,11.950951,1.677148,1.677148,1.677148,1.677148,6.811997,6.811997,0.257445,0.280193,0.239072,0.262006,0.073113,0.465823,0.499993,0.486391,0.486376,0.218731,0.497088,0.315771,0.931646,0.0

In [50]:
sorted_df.to_csv('rink_master_cleaned.csv', index=False)

In [19]:
sorted_df.isnull().sum()

gameId                 0
gameDate               0
teamId                 0
teamFullName           0
homeRoad               0
opponentTeamAbbrev     0
goalsFor               0
goalsAgainst           0
goalsForPerGame        0
goalsAgainstPerGame    0
shotsForPerGame        0
shotsAgainstPerGame    0
penaltyKillPct         0
penaltyKillNetPct      0
powerPlayPct           0
powerPlayNetPct        0
faceoffWinPct          0
pointPct               0
wins                   0
losses                 0
ties                   0
winsInRegulation       0
winsInShootout         0
regulationAndOtWins    0
otLosses               0
points                 0
gamesPlayed            0
dtype: int64

In [23]:
sorted_df.head()

,gameId,gameDate,teamId,teamFullName,homeRoad,opponentTeamAbbrev,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,shotsForPerGame,shotsAgainstPerGame,penaltyKillPct,penaltyKillNetPct,powerPlayPct,powerPlayNetPct,faceoffWinPct,pointPct,wins,losses,ties,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed
0,2003020001,2003-10-08,1,New Jersey Devils,R,BOS,3,3,3.0,3.0,35.0,31.0,0.75,0.75,0.750000,0.750000,0.433333,0.5,0,0,1.0,0,0,0,0,1,1
1,2003020003,2003-10-08,30,Minnesota Wild,R,CHI,0,1,0.0,1.0,33.0,22.0,1.00,1.00,0.000000,0.000000,0.567164,0.0,0,1,0.0,0,0,0,0,0,1
2,2003020002,2003-10-08,25,Dallas Stars,H,ANA,4,1,4.0,1.0,22.0,21.0,0.75,0.75,0.333333,0.333333,0.532258,1.0,1,0,0.0,1,0,1,0,2,1
3,2003020001,2003-10-08,6,Boston Bruins,H,NJD,3,3,3.0,3.0,31.0,35.0,0.25,0.25,0.250000,0.250000,0.566666,0.5,0,0,1.0,0,0,0,0,1,1
4,2003020003,2003-10-08,16,Chicago Blackhawks,H,MIN,1,0,1.0,0.0,22.0,33.0,1.00,1.00,0.000000,0.000000,0.432835,1.0,1,0,0.0,1,0,1,0,2,1

In [24]:
sorted_df["teamId"].nunique()

34

In [44]:
sorted_df["teamFullName"].unique()

array(['New Jersey Devils', 'Minnesota Wild', 'Dallas Stars',
       'Boston Bruins', 'Chicago Blackhawks', 'Anaheim Ducks',
       'San Jose Sharks', 'Los Angeles Kings', 'Vancouver Canucks',
       'Edmonton Oilers', 'Calgary Flames', 'Nashville Predators',
       'Washington Capitals', 'Columbus Blue Jackets',
       'Atlanta Thrashers', 'Ottawa Senators', 'Montréal Canadiens',
       'Buffalo Sabres', 'Philadelphia Flyers', 'New York Islanders',
       'Florida Panthers', 'Carolina Hurricanes', 'Detroit Red Wings',
       'New York Rangers', 'Pittsburgh Penguins', 'Tampa Bay Lightning',
       'St. Louis Blues', 'Colorado Avalanche', 'Phoenix Coyotes',
       'Toronto Maple Leafs', 'Winnipeg Jets', 'Arizona Coyotes',
       'Vegas Golden Knights', 'Seattle Kraken'], dtype=object)

In [37]:
dup_rows = sorted_df[sorted_df.duplicated()]
print(dup_rows)

Empty DataFrame
Columns: [gameId, gameDate, teamId, teamFullName, homeRoad, opponentTeamAbbrev, goalsFor, goalsAgainst, goalsForPerGame, goalsAgainstPerGame, shotsForPerGame, shotsAgainstPerGame, penaltyKillPct, penaltyKillNetPct, powerPlayPct, powerPlayNetPct, faceoffWinPct, pointPct, wins, losses, ties, winsInRegulation, winsInShootout, regulationAndOtWins, otLosses, points, gamesPlayed]
Index: []

In [43]:
abbs = sorted_df["opponentTeamAbbrev"].unique()
print(abbs)

['BOS' 'CHI' 'ANA' 'NJD' 'MIN' 'DAL' 'EDM' 'DET' 'NSH' 'CGY' 'SJS' 'VAN'
 'NYI' 'ATL' 'CBJ' 'MTL' 'OTT' 'PHI' 'BUF' 'WSH' 'CAR' 'FLA' 'LAK' 'NYR'
 'TBL' 'COL' 'PHX' 'PIT' 'STL' 'TOR' 'WPG' 'ARI' 'VGK' 'SEA']

In [45]:
team_dict = {
    "New Jersey Devils": "NJD",
    "Minnesota Wild": "MIN",
    "Dallas Stars": "DAL",
    "Boston Bruins": "BOS",
    "Chicago Blackhawks": "CHI",
    "Anaheim Ducks": "ANA",
    "San Jose Sharks": "SJS",
    "Los Angeles Kings": "LAK",
    "Vancouver Canucks": "VAN",
    "Edmonton Oilers": "EDM",
    "Calgary Flames": "CGY",
    "Nashville Predators": "NSH",
    "Washington Capitals": "WSH",
    "Columbus Blue Jackets": "CBJ",
    "Atlanta Thrashers": "ATL",
    "Ottawa Senators": "OTT",
    "Montréal Canadiens": "MTL",
    "Buffalo Sabres": "BUF",
    "Philadelphia Flyers": "PHI",
    "New York Islanders": "NYI",
    "Florida Panthers": "FLA",
    "Carolina Hurricanes": "CAR",
    "Detroit Red Wings": "DET",
    "New York Rangers": "NYR",
    "Pittsburgh Penguins": "PIT",
    "Tampa Bay Lightning": "TBL",
    "St. Louis Blues": "STL",
    "Colorado Avalanche": "COL",
    "Phoenix Coyotes": "PHX",  # Устаревшее название
    "Toronto Maple Leafs": "TOR",
    "Winnipeg Jets": "WPG",
    "Arizona Coyotes": "ARI",
    "Vegas Golden Knights": "VGK",
    "Seattle Kraken": "SEA",
}

In [46]:
sorted_df["teamAbbreviation"] = sorted_df["teamFullName"].map(team_dict)

# Проверка на наличие ненайденных команд
missing_teams = sorted_df[sorted_df["teamAbbreviation"].isnull()][
    "teamFullName"
].unique()
print("Команды без соответствий:", missing_teams)

Команды без соответствий: []

In [47]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
sorted_df["teamIdNumeric"] = label_encoder.fit_transform(sorted_df["teamAbbreviation"])

print(sorted_df[["teamFullName", "teamAbbreviation", "teamIdNumeric"]].head())

         teamFullName teamAbbreviation  teamIdNumeric
0   New Jersey Devils              NJD             17
1      Minnesota Wild              MIN             15
2        Dallas Stars              DAL             10
3       Boston Bruins              BOS              3
4  Chicago Blackhawks              CHI              8

In [48]:
print(sorted_df[["teamFullName", "teamAbbreviation", "teamIdNumeric", "teamId"]].head(20))

             teamFullName teamAbbreviation  teamIdNumeric  teamId
0       New Jersey Devils              NJD             17       1
1          Minnesota Wild              MIN             15      30
2            Dallas Stars              DAL             10      25
3           Boston Bruins              BOS              3       6
4      Chicago Blackhawks              CHI              8      16
5           Anaheim Ducks              ANA              0      24
6         San Jose Sharks              SJS             26      28
7       Los Angeles Kings              LAK             14      26
8           Anaheim Ducks              ANA              0      24
9       Vancouver Canucks              VAN             30      23
10        Edmonton Oilers              EDM             12      22
11         Calgary Flames              CGY              7      20
12    Nashville Predators              NSH             18      18
13    Washington Capitals              WSH             33      15
14  Columbus Blue Jackets              CBJ              6      29
15      Atlanta Thrashers              ATL              2      11
16        Ottawa Senators              OTT             21       9
17     Montréal Canadiens              MTL             16       8
18         Buffalo Sabres              BUF              4       7
19    Philadelphia Flyers              PHI             22       4

In [49]:
sorted_df.head()

,gameId,gameDate,teamId,teamFullName,homeRoad,opponentTeamAbbrev,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,shotsForPerGame,shotsAgainstPerGame,penaltyKillPct,penaltyKillNetPct,powerPlayPct,powerPlayNetPct,faceoffWinPct,pointPct,wins,losses,ties,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed,teamAbbreviation,teamIdNumeric
0,2003020001,2003-10-08,1,New Jersey Devils,R,BOS,3,3,3.0,3.0,35.0,31.0,0.75,0.75,0.750000,0.750000,0.433333,0.5,0,0,1.0,0,0,0,0,1,1,NJD,17
1,2003020003,2003-10-08,30,Minnesota Wild,R,CHI,0,1,0.0,1.0,33.0,22.0,1.00,1.00,0.000000,0.000000,0.567164,0.0,0,1,0.0,0,0,0,0,0,1,MIN,15
2,2003020002,2003-10-08,25,Dallas Stars,H,ANA,4,1,4.0,1.0,22.0,21.0,0.75,0.75,0.333333,0.333333,0.532258,1.0,1,0,0.0,1,0,1,0,2,1,DAL,10
3,2003020001,2003-10-08,6,Boston Bruins,H,NJD,3,3,3.0,3.0,31.0,35.0,0.25,0.25,0.250000,0.250000,0.566666,0.5,0,0,1.0,0,0,0,0,1,1,BOS,3
4,2003020003,2003-10-08,16,Chicago Blackhawks,H,MIN,1,0,1.0,0.0,22.0,33.0,1.00,1.00,0.000000,0.000000,0.432835,1.0,1,0,0.0,1,0,1,0,2,1,CHI,8

In [2]:
df = pd.read_csv("/home/artemiy/rink_master/rink_master_data/rink_master_cleaned.csv")
df.head()

,gameId,gameDate,teamId,teamFullName,homeRoad,opponentTeamAbbrev,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,...,losses,ties,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed,teamAbbreviation,teamIdNumeric
0,2003020001,2003-10-08,1,New Jersey Devils,R,BOS,3,3,3.0,3.0,...,0,1.0,0,0,0,0,1,1,NJD,17
1,2003020003,2003-10-08,30,Minnesota Wild,R,CHI,0,1,0.0,1.0,...,1,0.0,0,0,0,0,0,1,MIN,15
2,2003020002,2003-10-08,25,Dallas Stars,H,ANA,4,1,4.0,1.0,...,0,0.0,1,0,1,0,2,1,DAL,10
3,2003020001,2003-10-08,6,Boston Bruins,H,NJD,3,3,3.0,3.0,...,0,1.0,0,0,0,0,1,1,BOS,3
4,2003020003,2003-10-08,16,Chicago Blackhawks,H,MIN,1,0,1.0,0.0,...,0,0.0,1,0,1,0,2,1,CHI,8

In [3]:
team_mapping = {
    "New Jersey Devils": "NJD",
    "Minnesota Wild": "MIN",
    "Dallas Stars": "DAL",
    "Boston Bruins": "BOS",
    "Chicago Blackhawks": "CHI",
    "Anaheim Ducks": "ANA",
    "San Jose Sharks": "SJS",
    "Los Angeles Kings": "LAK",
    "Vancouver Canucks": "VAN",
    "Edmonton Oilers": "EDM",
    "Calgary Flames": "CGY",
    "Nashville Predators": "NSH",
    "Washington Capitals": "WSH",
    "Columbus Blue Jackets": "CBJ",
    "Atlanta Thrashers": "WPG",  # Одинаковый код с Winnipeg Jets
    "Winnipeg Jets": "WPG",  # Одинаковый код с Atlanta Thrashers
    "Ottawa Senators": "OTT",
    "Montréal Canadiens": "MTL",
    "Buffalo Sabres": "BUF",
    "Philadelphia Flyers": "PHI",
    "New York Islanders": "NYI",
    "Florida Panthers": "FLA",
    "Carolina Hurricanes": "CAR",
    "Detroit Red Wings": "DET",
    "New York Rangers": "NYR",
    "Pittsburgh Penguins": "PIT",
    "Tampa Bay Lightning": "TBL",
    "St. Louis Blues": "STL",
    "Colorado Avalanche": "COL",
    "Phoenix Coyotes": "ARI",  # Одинаковый код с Arizona Coyotes
    "Arizona Coyotes": "ARI",  # Одинаковый код с Phoenix Coyotes
    "Toronto Maple Leafs": "TOR",
    "Vegas Golden Knights": "VGK",
    "Seattle Kraken": "SEA",
}

In [4]:
# Преобразуем полные названия команд в аббревиатуры
df["teamFullName"] = df["teamFullName"].map(team_mapping)
df["opponentTeamAbbrev"] = df["opponentTeamAbbrev"].replace(team_mapping)

In [10]:
df.head()

,gameId,gameDate,teamId,teamFullName,homeRoad,opponentTeamAbbrev,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,...,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed,teamAbbreviation,teamIdNumeric,teamFullNameEncoded,opponentTeamAbbrevEncoded
0,2003020001,2003-10-08,1,NJD,R,BOS,3,3,3.0,3.0,...,0,0,0,0,1,1,NJD,17,16,2.0
1,2003020003,2003-10-08,30,MIN,R,CHI,0,1,0.0,1.0,...,0,0,0,0,0,1,MIN,15,14,7.0
2,2003020002,2003-10-08,25,DAL,H,ANA,4,1,4.0,1.0,...,1,0,1,0,2,1,DAL,10,9,0.0
3,2003020001,2003-10-08,6,BOS,H,NJD,3,3,3.0,3.0,...,0,0,0,0,1,1,BOS,3,2,16.0
4,2003020003,2003-10-08,16,CHI,H,MIN,1,0,1.0,0.0,...,1,0,1,0,2,1,CHI,8,7,14.0

In [6]:
unique_teams = sorted(set(team_mapping.values()))

In [7]:
team_encoding = {team: code for code, team in enumerate(unique_teams)}

In [8]:
df["teamFullNameEncoded"] = df["teamFullName"].map(team_encoding)
df["opponentTeamAbbrevEncoded"] = df["opponentTeamAbbrev"].map(team_encoding)

In [30]:
print(df["opponentTeamAbbrevEncoded"].unique())

[ 6 15 23  1 28 24 21 16 17 19 26 22  2 29 27  8  9  4  7 14 11 12 25  3
 13 20 30  5 18 10 31 32]

In [28]:
df["opponentTeamAbbrevEncoded"].isna().sum()

np.int64(0)

In [25]:
unknown_abbrevs = df[df["opponentTeamAbbrevEncoded"].isna()][
    "opponentTeamAbbrev"
].unique()
print("Неизвестные или некорректные аббревиатуры команд:", unknown_abbrevs)

Неизвестные или некорректные аббревиатуры команд: ['ATL' 'PHX']

In [26]:
df["opponentTeamAbbrev"].replace({"ATL": "WPG", "PHX": "ARI"}, inplace=True)

/tmp/ipykernel_4214/2682565193.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["opponentTeamAbbrev"].replace({"ATL": "WPG", "PHX": "ARI"}, inplace=True)

In [38]:
df.head()

,gameId,gameDate,teamId,teamFullName,homeRoad,opponentTeamAbbrev,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,shotsForPerGame,shotsAgainstPerGame,penaltyKillPct,penaltyKillNetPct,powerPlayPct,powerPlayNetPct,faceoffWinPct,pointPct,wins,losses,ties,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed,teamAbbreviation,teamIdNumeric,teamFullNameEncoded,opponentTeamAbbrevEncoded,homeRoadEncoded
0,2003020001,2003-10-08,1,NJD,R,BOS,3,3,3.0,3.0,35.0,31.0,0.75,0.75,0.750000,0.750000,0.433333,0.5,0,0,1.0,0,0,0,0,1,1,NJD,17,1,6,1
1,2003020003,2003-10-08,30,MIN,R,CHI,0,1,0.0,1.0,33.0,22.0,1.00,1.00,0.000000,0.000000,0.567164,0.0,0,1,0.0,0,0,0,0,0,1,MIN,15,28,15,1
2,2003020002,2003-10-08,25,DAL,H,ANA,4,1,4.0,1.0,22.0,21.0,0.75,0.75,0.333333,0.333333,0.532258,1.0,1,0,0.0,1,0,1,0,2,1,DAL,10,24,23,0
3,2003020001,2003-10-08,6,BOS,H,NJD,3,3,3.0,3.0,31.0,35.0,0.25,0.25,0.250000,0.250000,0.566666,0.5,0,0,1.0,0,0,0,0,1,1,BOS,3,6,1,0
4,2003020003,2003-10-08,16,CHI,H,MIN,1,0,1.0,0.0,22.0,33.0,1.00,1.00,0.000000,0.000000,0.432835,1.0,1,0,0.0,1,0,1,0,2,1,CHI,8,15,28,0

In [33]:
abbrev_to_numeric = {
    "NJD": 1,
    "NYI": 2,
    "NYR": 3,
    "PHI": 4,
    "PIT": 5,
    "BOS": 6,
    "BUF": 7,
    "MTL": 8,
    "OTT": 9,
    "TOR": 10,
    "CAR": 11,
    "FLA": 12,
    "TBL": 13,
    "WSH": 14,
    "CHI": 15,
    "DET": 16,
    "NSH": 17,
    "STL": 18,
    "CGY": 19,
    "COL": 20,
    "EDM": 21,
    "VAN": 22,
    "ANA": 23,
    "DAL": 24,
    "LAK": 25,
    "SJS": 26,
    "CBJ": 27,
    "MIN": 28,
    "WPG": 29,
    "ARI": 30,
    "VGK": 31,
    "SEA": 32,
}

df["teamFullNameEncoded"] = df["teamFullName"].map(abbrev_to_numeric)
df["opponentTeamAbbrevEncoded"] = df["opponentTeamAbbrev"].map(abbrev_to_numeric)

if (
    df["teamFullNameEncoded"].isnull().any()
    or df["opponentTeamAbbrevEncoded"].isnull().any()
):
    print(
        "Некоторые команды не были закодированы. Проверьте словарь кодирования и данные."
    )

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47816 entries, 0 to 47815
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gameId                     47816 non-null  int64
 1   gameDate                   47816 non-null  object
 2   teamId                     47816 non-null  int64
 3   teamFullName               47816 non-null  object
 4   homeRoad                   47816 non-null  object
 5   opponentTeamAbbrev         47816 non-null  object
 6   goalsFor                   47816 non-null  int64
 7   goalsAgainst               47816 non-null  int64
 8   goalsForPerGame            47816 non-null  float64
 9   goalsAgainstPerGame        47816 non-null  float64
 10  shotsForPerGame            47816 non-null  float64
 11  shotsAgainstPerGame        47816 non-null  float64
 12  penaltyKillPct             47816 non-null  float64
 13  penaltyKillNetPct          47816 non-null  float64
 14  powerPlayPct               47816 non-null  float64
 15  powerPlayNetPct            47816 non-null  float64
 16  faceoffWinPct              47816 non-null  float64
 17  pointPct                   47816 non-null  float64
 18  wins                       47816 non-null  int64
 19  losses                     47816 non-null  int64
 20  ties                       47816 non-null  float64
 21  winsInRegulation           47816 non-null  int64
 22  winsInShootout             47816 non-null  int64
 23  regulationAndOtWins        47816 non-null  int64
 24  otLosses                   47816 non-null  int64
 25  points                     47816 non-null  int64
 26  gamesPlayed                47816 non-null  int64
 27  teamAbbreviation           47816 non-null  object
 28  teamIdNumeric              47816 non-null  int64
 29  teamFullNameEncoded        47816 non-null  int64
 30  opponentTeamAbbrevEncoded  47816 non-null  int64
 31  homeRoadEncoded            47816 non-null  int64
dtypes: float64(11), int64(16), object(5)
memory usage: 11.7+ MB

In [36]:
df["homeRoad"].unique()

array(['R', 'H'], dtype=object)

In [37]:
home_road_encoding = {"R": 1, "H": 0}  

df["homeRoadEncoded"] = df["homeRoad"].map(home_road_encoding)


if df["homeRoadEncoded"].isnull().any():
    print(
        "Некоторые значения в столбце 'homeRoad' не были закодированы. Проверьте данные."
    )

In [40]:
columns_to_drop = ["teamFullName", "homeRoad", "opponentTeamAbbrev", "teamAbbreviation"]
df = df.drop(columns=columns_to_drop)

       gameId    gameDate  teamId  goalsFor  goalsAgainst  goalsForPerGame  \
0  2003020001  2003-10-08       1         3             3              3.0
1  2003020003  2003-10-08      30         0             1              0.0
2  2003020002  2003-10-08      25         4             1              4.0
3  2003020001  2003-10-08       6         3             3              3.0
4  2003020003  2003-10-08      16         1             0              1.0

   goalsAgainstPerGame  shotsForPerGame  shotsAgainstPerGame  penaltyKillPct  \
0                  3.0             35.0                 31.0            0.75
1                  1.0             33.0                 22.0            1.00
2                  1.0             22.0                 21.0            0.75
3                  3.0             31.0                 35.0            0.25
4                  0.0             22.0                 33.0            1.00

   penaltyKillNetPct  powerPlayPct  powerPlayNetPct  faceoffWinPct  pointPct  \
0               0.75      0.750000         0.750000       0.433333       0.5
1               1.00      0.000000         0.000000       0.567164       0.0
2               0.75      0.333333         0.333333       0.532258       1.0
3               0.25      0.250000         0.250000       0.566666       0.5
4               1.00      0.000000         0.000000       0.432835       1.0

   wins  losses  ties  winsInRegulation  winsInShootout  regulationAndOtWins  \
0     0       0   1.0                 0               0                    0
1     0       1   0.0                 0               0                    0
2     1       0   0.0                 1               0                    1
3     0       0   1.0                 0               0                    0
4     1       0   0.0                 1               0                    1

   otLosses  points  gamesPlayed  teamIdNumeric  teamFullNameEncoded  \
0         0       1            1             17                    1
1         0       0            1             15                   28
2         0       2            1             10                   24
3         0       1            1              3                    6
4         0       2            1              8                   15

   opponentTeamAbbrevEncoded  homeRoadEncoded
0                          6                1
1                         15                1
2                         23                0
3                          1                0
4                         28                0

In [41]:
df.head()

,gameId,gameDate,teamId,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,shotsForPerGame,shotsAgainstPerGame,penaltyKillPct,penaltyKillNetPct,powerPlayPct,powerPlayNetPct,faceoffWinPct,pointPct,wins,losses,ties,winsInRegulation,winsInShootout,regulationAndOtWins,otLosses,points,gamesPlayed,teamIdNumeric,teamFullNameEncoded,opponentTeamAbbrevEncoded,homeRoadEncoded
0,2003020001,2003-10-08,1,3,3,3.0,3.0,35.0,31.0,0.75,0.75,0.750000,0.750000,0.433333,0.5,0,0,1.0,0,0,0,0,1,1,17,1,6,1
1,2003020003,2003-10-08,30,0,1,0.0,1.0,33.0,22.0,1.00,1.00,0.000000,0.000000,0.567164,0.0,0,1,0.0,0,0,0,0,0,1,15,28,15,1
2,2003020002,2003-10-08,25,4,1,4.0,1.0,22.0,21.0,0.75,0.75,0.333333,0.333333,0.532258,1.0,1,0,0.0,1,0,1,0,2,1,10,24,23,0
3,2003020001,2003-10-08,6,3,3,3.0,3.0,31.0,35.0,0.25,0.25,0.250000,0.250000,0.566666,0.5,0,0,1.0,0,0,0,0,1,1,3,6,1,0
4,2003020003,2003-10-08,16,1,0,1.0,0.0,22.0,33.0,1.00,1.00,0.000000,0.000000,0.432835,1.0,1,0,0.0,1,0,1,0,2,1,8,15,28,0

In [42]:
# Перемещаем столбцы в нужном порядке
column_order = [
    "gameId",
    "gameDate",
    "teamFullNameEncoded",
    "opponentTeamAbbrevEncoded",
    "homeRoadEncoded",
    "gamesPlayed",  # Соответствует GP
    "wins",  # Соответствует W
    "losses",  # Соответствует L
    "ties",  # Соответствует T
    "otLosses",  # Соответствует OT
    "points",  # Соответствует P
    "pointPct",  # Соответствует P%
    "winsInRegulation",  # Соответствует RW
    "regulationAndOtWins",  # Соответствует ROW
    "winsInShootout",  # Соответствует S/O Win
    "goalsFor",  # Соответствует GF
    "goalsAgainst",  # Соответствует GA
    "goalsForPerGame",  # Соответствует GF/GP
    "goalsAgainstPerGame",  # Соответствует GA/GP
    "powerPlayPct",  # Соответствует PP%
    "penaltyKillPct",  # Соответствует PK%
    "powerPlayNetPct",  # Соответствует Net PP%
    "penaltyKillNetPct",  # Соответствует Net PK%
    "shotsForPerGame",  # Соответствует Shots/GP
    "shotsAgainstPerGame",  # Соответствует SA/GP
    "faceoffWinPct",  # Соответствует FOW%
    "teamId",  # ID команды
    "teamIdNumeric",  # Numeric ID команды
]

# Переставляем столбцы в нужном порядке
df = df[column_order]

# Проверка результата
print(df.head())

       gameId    gameDate  teamFullNameEncoded  opponentTeamAbbrevEncoded  \
0  2003020001  2003-10-08                    1                          6
1  2003020003  2003-10-08                   28                         15
2  2003020002  2003-10-08                   24                         23
3  2003020001  2003-10-08                    6                          1
4  2003020003  2003-10-08                   15                         28

   homeRoadEncoded  gamesPlayed  wins  losses  ties  otLosses  points  \
0                1            1     0       0   1.0         0       1
1                1            1     0       1   0.0         0       0
2                0            1     1       0   0.0         0       2
3                0            1     0       0   1.0         0       1
4                0            1     1       0   0.0         0       2

   pointPct  winsInRegulation  regulationAndOtWins  winsInShootout  goalsFor  \
0       0.5                 0                    0               0         3
1       0.0                 0                    0               0         0
2       1.0                 1                    1               0         4
3       0.5                 0                    0               0         3
4       1.0                 1                    1               0         1

   goalsAgainst  goalsForPerGame  goalsAgainstPerGame  powerPlayPct  \
0             3              3.0                  3.0      0.750000
1             1              0.0                  1.0      0.000000
2             1              4.0                  1.0      0.333333
3             3              3.0                  3.0      0.250000
4             0              1.0                  0.0      0.000000

   penaltyKillPct  powerPlayNetPct  penaltyKillNetPct  shotsForPerGame  \
0            0.75         0.750000               0.75             35.0
1            1.00         0.000000               1.00             33.0
2            0.75         0.333333               0.75             22.0
3            0.25         0.250000               0.25             31.0
4            1.00         0.000000               1.00             22.0

   shotsAgainstPerGame  faceoffWinPct  teamId  teamIdNumeric
0                 31.0       0.433333       1             17
1                 22.0       0.567164      30             15
2                 21.0       0.532258      25             10
3                 35.0       0.566666       6              3
4                 33.0       0.432835      16              8

In [51]:
df.head()

,gameID,gameDate,Team,Opponent,homeRoad,gamesPlayed,Win,Loss,Tie,OTLoss,points,pointPct,regulationWins,regulationAndOtWins,shootoutWins,goalsFor,goalsAgainst,goalsForPerGame,goalsAgainstPerGame,powerPlayPct,penaltyKillPct,powerPlayNetPct,penaltyKillNetPct,shotsForPerGame,shotsAgainstPerGame,faceoffWinPct
0,2003020001,2003-10-08,1,6,1,1,0,0,1.0,0,1,0.5,0,0,0,3,3,3.0,3.0,0.75,0.75,0.75,0.75,35.0,31.0,0.43
1,2003020003,2003-10-08,28,15,1,1,0,1,0.0,0,0,0.0,0,0,0,0,1,0.0,1.0,0.00,1.00,0.00,1.00,33.0,22.0,0.57
2,2003020002,2003-10-08,24,23,0,1,1,0,0.0,0,2,1.0,1,1,0,4,1,4.0,1.0,0.33,0.75,0.33,0.75,22.0,21.0,0.53
3,2003020001,2003-10-08,6,1,0,1,0,0,1.0,0,1,0.5,0,0,0,3,3,3.0,3.0,0.25,0.25,0.25,0.25,31.0,35.0,0.57
4,2003020003,2003-10-08,15,28,0,1,1,0,0.0,0,2,1.0,1,1,0,1,0,1.0,0.0,0.00,1.00,0.00,1.00,22.0,33.0,0.43

In [44]:
df["powerPlayPct"] = df["powerPlayPct"].round(2)
df["penaltyKillPct"] = df["penaltyKillPct"].round(2)
df["powerPlayNetPct"] = df["powerPlayNetPct"].round(2)
df["powerPlayNetPct"] = df["powerPlayNetPct"].round(2)

In [46]:
df["faceoffWinPct"] = df["faceoffWinPct"].round(2)

In [48]:
df = df.drop(columns=["teamId", 'teamIdNumeric'])

In [50]:
df.rename(
    columns={
        "gameId": 'gameID',
        "teamFullNameEncoded": "Team",
        "opponentTeamAbbrevEncoded": "Opponent",
        "homeRoadEncoded": "homeRoad",
        "wins": "Win",
        "losses": "Loss",
        "ties": "Tie",
        "otLosses": "OTLoss",
        "winsInRegulation": "regulationWins",
        "winsInShootout": "shootoutWins",
    },
    inplace=True,
)

In [54]:
df.isna().sum()

gameID                 0
gameDate               0
Team                   0
Opponent               0
homeRoad               0
gamesPlayed            0
Win                    0
Loss                   0
Tie                    0
OTLoss                 0
points                 0
pointPct               0
regulationWins         0
regulationAndOtWins    0
shootoutWins           0
goalsFor               0
goalsAgainst           0
goalsForPerGame        0
goalsAgainstPerGame    0
powerPlayPct           0
penaltyKillPct         0
powerPlayNetPct        0
penaltyKillNetPct      0
shotsForPerGame        0
shotsAgainstPerGame    0
faceoffWinPct          0
dtype: int64

In [55]:
df.to_csv("rink_master_cleaned.csv", index=False)